{{ $filter := .Get "filter" }}
{{ $user := .Get "user" }}
{{ $endpoint := .Get "endpoint" | default "https://api.stackexchange.com/2.2" }}
{{ $site := .Get "site" | default "stackoverflow" }}
{{ $count := .Get "count" | default 10 }}

{{ $url := printf "%s/users/%s/answers?site=%s&order=desc&page=1&pagesize=%d&filter=%s" $endpoint $user $site $count $filter }}

{{ $data := getJSON $url }}
<ul class="sx-answer-list">
{{ range $data.items }}
{{ $class := cond .is_accepted "sx-answer-accepted" "" }}
<li><p><a class="sx-answer {{ $class }}" href="{{ .link }}">{{ .title | htmlUnescape }}</a>
  {{ range .tags }}<a class="sx-tag" href="https://stackoverflow.com/questions/tagged/{{.}}">{{ . }}</a> {{end}}</p></li>
<!-- ({{ .last_activity_date | int | dateFormat "2006-01-02" }}) -->
{{ end }}
</ul>
